<div class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarToggler" aria-controls="navbarToggler"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <span class="navbar-header">
      <a href="#" class="navbar-brand">RecipeModel Book</a>
    </span>

    <div class="collapse navbar-collapse" id="navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Recipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Shoping List</a>
        </li>

        <div class="navbar-nav" id="navend">
          <li class="nav-item">
            <a class="nav-link" href="#">Add Recipe</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="#">Fetch Recipe</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Manage
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Add Recipe</a>
              <a class="dropdown-item" href="#">Fetch Recipe</a>
            </div>
          </li>

        </div>
      </ul>

    </div>
  </div>
</div>
